
@font-face {
font-family: "Roboto-Black";
src: url("../fonts/roboto/Roboto-Black.ttf");
}
@font-face {
font-family: "Roboto-BlackItalic";
src: url("../fonts/roboto/Roboto-BlackItalic.ttf");
}
@font-face {
font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
font-family: "Roboto-BoldItalic";
  src: url("../fonts/roboto/Roboto-BoldItalic.ttf");
}
@font-face {
font-family: "Roboto-Italic";
  src: url("../fonts/roboto/Roboto-Italic.ttf");
}
@font-face {
font-family: "Roboto-Light";
  src: url("../fonts/roboto/Roboto-Light.ttf");
}
@font-face {
font-family: "Roboto-LightItalic";
  src: url("../fonts/roboto/Roboto-LightItalic.ttf");
}
@font-face {
font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
font-family: "Roboto-MediumItalic";
  src: url("../fonts/roboto/Roboto-MediumItalic.ttf");
}
@font-face {
font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
font-family: "Roboto-Thin";
  src: url("../fonts/roboto/Roboto-Thin.ttf");
}
@font-face {
font-family: "Roboto-ThinItalic";
  src: url("../fonts/roboto/Roboto-ThinItalic.ttf");
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

  /* Для демонстрации */
  min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-family: "Roboto-Bold";
  color: #fff;
  margin-left: 260px;
  margin-top: -255px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  top: 235px;
  left: 0;
  z-index: 20;
  font-size: 0;
  margin-left: 30px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: rgba();
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}


body
{
  margin: 0 auto;
}

.container
{
  width: 1200px;
  margin: 0 auto;
}

.page-header
{
  position: relative;
  bottom: 10px;
}

.header-logo
{
  width: 150px;
  padding-left: 27px;
  padding-top: 20px;
}

.header-nav
{
  padding:0;
	margin:0;
	list-style: none;
	position: relative;
  width: 450px;
}

.nav__list
{
  width: 450px;
  display: inline-flex;
  list-style-type: none;
  position: relative;
  bottom: 65px;
  left: 170px;
}

.nav__item a
{
  font-family: "Roboto-Bold";
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  display:inline-block;
  display:block;
}

.nav__item--catalog
{
  width: 87px;
  height: 32px;
  font-family: "Roboto-Bold";
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  bottom: 5px;
  margin-left: -15px;
  }

.nav__item--catalog a:hover
{
  width: 87px;
  height: 32px;
  font-family: "Roboto-Bold";
   background-image: url("../img/catalog-fon.png");
   text-align: center;
   color: #000;
   cursor: pointer;
   box-sizing: border-box;
   text-decoration: none;
   border:none;
   position: relative;
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 5px;
   bottom: 5px;
   margin-left: -15px;
}


.nav__item--catalog a:active
{
  background-image: url("../img/catalog-active.png");
}

.nav__item:hover:nth-child(1)
{
  margin-right: 10px;
}

.header-nav .nav__list .nav-catalog__list {
			    display: none;
			    position: absolute;
			    top: 35px;
			}

.header-nav .nav__list .nav__item:hover > .nav-catalog__list {
			    display:inherit;
			}

.header-nav .nav__list .nav-catalog__list .nav-catalog__bottom {
			    min-width:140px;
			    float:none;
			    display:list-item;
			    position: relative;
          text-align: left;
	}

.nav-catalog__list
{
  padding-top: 20px;
  padding-bottom: 17px;
  height: 175px;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  top: 5px;
  list-style-type: none;
  width: 140px;
  padding: 0;
  position: relative;
  left: 10px;
  margin-left: -20px;
  padding-top: 10px;
  padding-left: 10px;
}


.nav-catalog__bottom a
{
  width: 100%;
  padding-bottom: 17px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  border: none;
}

.nav-catalog__bottom--new a
{
  width: 80px;
  font-family: "Roboto-Bold";
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid #d1d0ce;
  padding-bottom: 14px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  vertical-align: middle;
  right: 10px;
  padding-left: 10px;
}

.nav-catalog__bottom--cream
{
  position: relative;
  padding-top: 5px;
}

.nav-catalog__bottom a:hover
{
  width: 150px;
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 16px;
  color: #d1d0ce;
  background-image: none;
  background-color: #fbded7;
  text-align: left;
  position: relative;
  left: 5px;
}

.nav-catalog__bottom a:focus
{
  width: 150px;
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  background-image: none;
  background-color: #f6b5a5;
  text-align: left;
  position: relative;
  left: 5px;
}

.nav-catalog__bottom a:active
{
  width: 150px;
  background-color: #f6b5a5;
  position: relative;
  right: 20px;
}


.nav-catalog__bottom a
{
  width: 100%;
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #323232;
  text-align:left;
  position: relative;

}

.header-blok
{
  display: flex;
  justify-content: flex-end;
}

.header-search{
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/loupe.svg") no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  bottom: 120px;
  right: 55px;
}
.header-search:hover
{
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/loupe-hover.png") #fff no-repeat;
  background-color: rgba(255, 255, 255);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  bottom: 120px;
  right: 55px;
}
.search__form{
    display:none;
    margin-left:-300px;
    padding:10px;
    background:#f3f3f3;
    width: 340px;
    height:80px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
    position: relative;
    margin-top:-70px;
    border-radius: 8px;
}

.search__form input
{
  width: 310px;
  height: 42px;
  border-radius: 6px;
  border:1px solid #d3d3d2;
  margin-left: 8px;
  margin-top: 15px;
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  padding-left: 14px;
}

.header-search:hover .search__form{
    display:block;
    position:absolute;
    top:106px;
    z-index:9999;
    width:340px;
}

.header-login
{
  width: 92px;
  height: 30px;
  font-family: "Roboto-Medium";
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration:none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  position: relative;
  bottom:120px;
  right: 45px;
}

.header-login:hover
{
  background-color: rgba(255, 255, 255);
  color: #000;
}

.header-login a
{
  text-decoration:none;
  color: #fff;
  position: relative;
  left:45px;
  bottom: 15px;
}

.header-login a:hover
{
  color: #000;
}

.header-login a:active
{
  color: #000;
}

.header-login a:checked
{
  color: #000;
}


.header-login::before
{
  content: "";
  display: block;
  width: 21px;
  height: 19px;
  background: url("../img/entrance.svg") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top:5px;
  left: 15px;
}

.header-login:hover:before
{
  content: "";
  display: block;
  width: 21px;
  height: 19px;
  background: url("../img/login-hover.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top:5px;
  left: 15px;
}

.login__form{
    display:none;
    margin-left:-200px;
    padding:10px;
    background:#f3f3f3;
    width: 277px;
    height:210px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
    position: relative;
    margin-top:-85px;
    border-radius: 8px;
}

.login__form input
{
  width: 237px;
  height: 42px;
  border-radius: 6px;
  border:1px solid #d3d3d2;
  margin-left: 8px;
  margin-top: 15px;
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin-left: 20px;
  margin-right: 20px;
}

.header-login:hover .login__form{
    display:block;
    position:absolute;
    top:120px;
    z-index:9999;
}

.login__group
{
  display: flex;
  flex-direction: row;
}

.login__button
{
  width: 100px;
  height: 45px;
  font-family: "Roboto-Bold";
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-decoration:none;
  border: none;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
}

.login__button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.login__button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.login__button:focus {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.login__description a
{
  font-family: "Roboto-Regular";
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  text-decoration:none;
  border-bottom: 1px solid #323232;
  position: relative;
  left: 30px;
  bottom: 0;
}

.login__description--reg a
{
  position: relative;
  left: 30px;
  bottom: 15px;
}

.login__description a:hover
{
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}

.login__description--reg a:hover
{
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}

.header-basket
{
  width: 92px;
  height: 30px;
  font-family: "Roboto-Medium";
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration:none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  position: relative;
  bottom:135px;
  right: 30px;
}

.header-basket a
{
  text-decoration:none;
  color: #fff;
  position: relative;
  left:40px;
  bottom: 15px;
}

.header-basket::before
{
  content: "";
  display: block;
  width: 21px;
  height: 19px;
  background: url("../img/basket.svg") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top:5px;
  left: 15px;
}

.header-description
{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-left: 1010px;
  bottom: 145px;
}

.header-time
{
  font-family: "Roboto-Bold";
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-left: 15px;
}

.header-phone
{
  font-family: "Roboto-Bold";
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  position: relative;
  bottom: 35px;
}

.header-title
{
  width: 700px;
  text-align: center;
  font-family: "Roboto-Bold";
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  margin-left: 260px;
  margin-top: 75px;
}

.header-button
{
  width: 275px;
  height: 65px;
  background-color: #ed5a3d;
  font-family: "Roboto-Bold";
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  border: none;
  border-radius: 28px;
  margin-left: 460px;
  position: relative;
  bottom: 10px
}

.card-section
{
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
}

.card
{
  width: 560px;
  height: 230px;
  border-radius: 16px;
}

.card--raspberry
{
  background-image: url("../img/offer-background-1.jpg");
}

.card--chocolate
{
  background-image: url("../img/offer-background-2.jpg");
  position: relative;
  right: 20px;
}

.card__title
{
  font-family: "Roboto-Bold";
  font-size: 35px;
  line-height: 41px;
  color: #fff;
  margin-left: 20px;
  margin-top: 15px;
}

.card__description
{
  font-family: "Roboto-Bold";
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-left: 20px;
  margin-right: 15px;
  position: relative;
  bottom: 15px;
}

.card__button
{
  width: 190px;
  height: 45px;
  background-color: #ed5a3d;
  font-family: "Roboto-Bold";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border: none;
  border-radius: 28px;
  margin-left: 350px;
  margin-top: 10px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.card__button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.card__button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.card__button:focus {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.card__button--raspberry
{
  width: 160px;
  margin-left: 380px;
}

.catalog-section
{
  display: flex;
  flex-direction: column;
}

.catalog
{
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  flex-wrap: wrap;
}

.catalog__photo
{
  background-color: transparent;
}

.catalog-item
{
  width: 267px;
  position: relative;
  bottom: 60px;
}

.catalog-item::before
{
  content: "";
  display: block;
  width: 61px;
  height: 61px;
  background: url("../img/hit.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top:65px;
}

.catalog__price
{
  font-family: "Roboto-Bold";
  font-size: 45px;
  line-height: 45px;
  color: #fff;
  position: relative;
  bottom: 105px;
}

.catalog__price span
{
  font-size: 30px;
}

.catalog__description
{
  width: 250px;
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  position: relative;
  bottom: 130px;
}

.catalog__description a
{
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #9db1a5;
}

.catalog__description a:hover
{
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.catalog__description a:active
{
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.catalog__description--coffee
{
  width: 270px;
}

.catalog__button
{
  display: none;
  width: 200px;
  height: 40px;
  font-family: "Roboto-Bold";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-left: 50px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.catalog__button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.catalog__button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.catalog__button:focus {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.catalog-item:hover
{
  width: 300px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  border-radius: 7px;
  top:-10px;
  z-index: 9999;
}

.catalog-item:hover .catalog__photo
{
  background-color: transparent;
  position: relative;
  top: 5px;
  left: 20px;
}

.catalog-item:hover .catalog__price
{
  position: relative;
  bottom: 110px;
  left: 20px;
}


.catalog-item:hover .catalog__description
{
  position: relative;
  bottom: 130px;
  left: 20px;
}

.catalog-item:hover::before
{
  display: none;
}

.catalog-item:hover .catalog__button
{
  position: relative;
  bottom: 135px;
  display: block;
  justify-content: center;
}

.shop-section
{
  width: 1140px;
  height: 300px;
  background-image: url("../img/features-background.jpg");
  background-size: cover;
  border-radius: 20px;
  margin-left: 30px;
  position: relative;
  bottom: 190px;
}

.shop__title
{
  font-family: "Roboto-Regular";
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  position: relative;
  top: 20px;
  left: 15px;
}

.shop__item
{
  width: 45%;
height: 90px;
margin-right: 20px;
margin-left: -20px;
font-family: "Roboto-Regular";
font-size: 16px;
line-height: 22px;
color: #323232;
list-style-type: none;
margin-right: 75px;
}

.shop__list
{
  display: flex;
 flex-wrap: wrap;
}

.shop__item--technic span
{
  width: 300px;
  position: relative;
  bottom: 30px;
  left: 55px;
}

.shop__item--technic::before
{
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  background: url("../img/ice-cream.svg") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 5px;
}


.shop__item--cream span
{
  width: 300px;
  position: relative;
  bottom: 30px;
  left: 55px;
}

.shop__item--cream::before
{
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  background: url("../img/eco.svg") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top:5px;
}

.shop__item--cow span
{
  width: 300px;
  position: relative;
  bottom: 30px;
  left: 70px;
}

.shop__item--cow::before
{
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  background: url("../img/cow.svg") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 5px;
  left: 10px;
}

.shop__item--cold span
{
  width: 300px;
  position: relative;
  bottom: 30px;
  left: 70px;
}

.shop__item--cold::before
{
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  background: url("../img/thermometer.svg") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 5px;
  left: 10px;
}

.blog-section
{
  display: flex;
  justify-content: space-around;
  margin-top: -180px;
  margin-left: 10px;
}

.blog-card
{
  width: 560px;
  height: 220px;
  border-radius: 16px;
  background-image: url("../img/news.jpg");
  margin-top: 30px;
}

.blog-card__title
{
  width: 300px;
  font-family: "Roboto-Bold";
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  margin-left: 20px;
  margin-top: -10px;
}

.blog-card__title a
{
  width: 280px;
  color: #323232;
}

.blog-card__title a:hover
{
  color: #e84d37;
}

.blog-card__title a:active
{
  color: #e84d37;
}

.blog-card__description
{
  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin-left: 20px;
  padding-top: 10px;
}

.blog-form
{
  width: 560px;
  height: 220px;
  border-radius: 16px;
  background-image: url("../img/bg-post.svg");
  margin-top: 30px;
}

.blog-form__fon
{
  width: 549px;
  height: 211px;
  border-radius: 16px;
  background-image: url("../img/bf-fon.png");
  position: relative;
  bottom: 12px;
  left: 5px;
}

.blog-form__description
{
  width: 500px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  position: relative;
  top: 32px;
  left: 10px;
}

.blog-form input
{
  width: 355px;
  height: 40px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  position: relative;
  top: 55px;
  left: 10px;
  border-radius: 6px;
  border: 1px solid #999999;
  padding-left: 15px;
}

.blog-form__button
{
  width: 125px;
  height: 45px;
  border: none;
  border-radius: 25px;
  font-family: "Roboto-Bold";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  position: relative;
  top: 55px;
  left: 15px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.blog-form__button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.blog-form__button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.blog-form__button:focus {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}



.map-section
{
  width: 1200px;
  height: 430px;
  background-image: url("../img/map.png");
  margin-top: 45px;
}

.map-card
{
  width: 300px;
  height: 305px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  top: 60px;
  left: 870px;
}

.map-card__button
{
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 25px;
  font-family: "Roboto-Bold";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  position: relative;
  top: -10px;
  left: 25px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.map-card__button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.map-card__button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.map-card__button:focus {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.map-card__info
{
  width: 170px;
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  left: 25px;
  top: 30px;
  position: relative;
  }

  .map-card__info--zakaz
  {
    left: 25px;
    top: 10px;
    position: relative;
    width: 175px;
  }

  .map-card__info--time
  {
    position: relative;
    top:-20px;
  }

.map-card__adresss
{
  width: 245px;
  font-family: "Roboto-Bold";
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  position: relative;
  left: 25px;
  top: 10px;
}

.map-card__adresss--phone
{
  position: relative;
  top:0px;
}

.page-footer
{
  height: auto;
  display: flex;
}

.social__list
{
  list-style-type:none;
  display: flex;
  margin-left: -25px;
  margin-top: 30px
}

.social__item--insta:hover img
{
  display: none;
}

.social__item--insta:hover
{
  width: 32px;
  height: 32px;
  background-image: url("../img/instagram-hover.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: 3px solid #c2cec7;
  border-radius: 20px;
  margin-left: 12px;
}

.social__item--insta:active
{
  width: 32px;
  height: 32px;
  background-image: url("../img/instagram-active.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: 3px solid #c2cec7;
  border-radius: 20px;
  margin-left: 12px;
}

.social__item--fb:hover img
{
  display: none;
}

.social__item--fb:hover
{
  width: 32px;
  height: 32px;
  background-image: url("../img/fb-hover.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: 3px solid #c2cec7;
  border-radius: 20px;
  margin-left: 12px;
}

.social__item--fb:active
{
  width: 32px;
  height: 32px;
  background-image: url("../img/fb-active.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: 3px solid #c2cec7;
  border-radius: 20px;
  margin-left: 12px;
}

.social__item--twi:hover img
{
  display: none;
}

.social__item--twi:hover
{
  width: 32px;
  height: 32px;
  background-image: url("../img/twitter-hover.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: 3px solid #c2cec7;
  border-radius: 20px;
  margin-left: 12px;
}

.social__item--twi:active
{
  width: 32px;
  height: 32px;
  background-image: url("../img/twitter-active.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: 3px solid #c2cec7;
  border-radius: 20px;
  margin-left: 12px;
}

.social__item--vk:hover img
{
  display: none;
}

.social__item--vk:hover
{
  width: 32px;
  height: 32px;
  background-image: url("../img/vk-hover.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: 3px solid #c2cec7;
  border-radius: 20px;
  margin-left: 12px;
}

.social__item--vk:active
{
  width: 32px;
  height: 32px;
  background-image: url("../img/twitter-active.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: 3px solid #c2cec7;
  border-radius: 20px;
  margin-left: 12px;
}

.social__item img
{
  border: 3px solid #c2cec7;
  border-radius: 20px;
  margin-left: 12px;
}

.social__item--insta:hover img
{
  border: 3px solid #c2cec7;
  border-radius: 20px;
}

.footer-nav
{
  margin-left: 165px;
  margin-top: 15px;
}

.footer-nav__list
{
  width: 340px;
  list-style-type:none;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav__item
{
  font-family: "Roboto-Regular";
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  margin-left: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c2cec7;
}

.footer-nav__item--eco
{
  margin-left: 40px;
}

.footer-html
{
  margin-left: 225px;
}

.description-html
{
  font-family: "Roboto-Regular";
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  position: relative;
  bottom: 20px;
}

/*catalog*/

.main-catalog
{
  position: relative;
  background-color: #8da899;
  background: #8da899 no-repeat;
  background-position: top;
}

.page-header-inner
{
  position: relative;
  bottom: 12px;
}

.nav__item--current
{
  width: 87px;
  height: 32px;
  font-family: "Roboto-Bold";
   background-image: url("../img/catalog-current.png");
   text-align: center;
   color: #000;
   cursor: pointer;
   box-sizing: border-box;
   border:none;
   position: relative;
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 5px;
   bottom: 5px;
   margin-left: -15px;
}

.nav__item
{
  margin-right: 0px;
}

.nav__item--delivery
{
  margin-left: 10px;
}

.nav__item--company
{
  margin-left: 30px;
}

.header-search__catalog
{
  position: relative;
  bottom: 120px;
  right: 45px;
}

.header-login__catalog
{
  position: relative;
  bottom: 120px;
  right: 35px;
}

.header-basket__catalog
{
  width: 120px;
  position: relative;
  bottom: 120px;
  right: 25px;
  background-color: #fff;
}

.header-basket__catalog::before
{
  content: "";
  display: block;
  width: 21px;
  height: 19px;
  background: url("../img/basket_red.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top:5px;
  left: 15px;
}

.header-basket__catalog a
{
  text-decoration:none;
  color: #000;
  position: relative;
  left:40px;
  bottom: 15px;
}

.header__card{
    display:none;
    margin-left:-440px;
    padding:10px;
    background:#f3f3f3;
    width: 538px;
    height:245px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
    position: relative;
    margin-top:-85px;
    border-radius: 8px;
}


.header-basket__catalog:hover .header__card{
    display:block;
    position:absolute;
    top:120px;
    z-index:9999;
}

.header-basket__table
{
  width: 507px;
  margin-left: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cacac7;
}

.table__line
{
  padding-bottom: 30px;
}

.header-basket__table td
{
  font-family: "Roboto-Regular";
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.table__img
{
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.table__description
{
  width: 220px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.table__weight
{
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.table__weight span
{
  color: #999999;
}

.header__card__description
{
  font-family: "Roboto-Bold";
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  margin-left: 410px;
}

.header__card__button
{
  width: 177px;
  height: 42px;
  font-family: "Roboto-Bold";
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-decoration:none;
  border: none;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  margin-left: 350px;
  margin-top: -5px;
}

.header__card__button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.header__card__button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.header__card__button:focus {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  border: none;
}

.header-description--catalog
{
  position: relative;
  margin-left: 1005px;
  bottom: 115px;
}

.breadcrumbs__list
{
  display: inline-flex;
  list-style-type: none;
  position: relative;
  bottom: 218px;
  right: 20px;
}

.breadcrumbs__item
{
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding-left: 5px;
}

.breadcrumbs__item a
{
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #aebeb5;
}

.breadcrumbs__item--cream a
{
  border-bottom: none;
}

.catalog-title
{
  font-family: "Roboto-Bold";
  font-size: 35px;
  line-height: 41px;
  color: #fff;
  position: relative;
  bottom: 255px;
  margin-left: 25px;
}

.catalog-inner
{
  display: flex;
  flex-direction: column;
}

.catalog__page
{
  position: relative;
  bottom: 140px;
  margin-top: 110px;
}


.catalog-item__page
{
  height: 340px;
  margin-bottom: 20px;
}

.catalog-item__page:hover
{
  position: relative;
  top: -60px;
}

.catalog-item__page::before
{
  display: none;
}

.pagination
{
  width: 1146px;
  position: relative;
  bottom: 135px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid #a9bbb1;
  margin-left: 55px;

}

.pagination__list
{
  display: inline-flex;
  list-style-type: none;
  margin-bottom: 30px;
}

.pagination__list-item a
{
  text-decoration: none;
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  margin-right: 23px;
}

.pagination__list-item--current a
{
  background-color: #fff;
  border-radius: 25px;
  color: #000;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 10px;
}

.page-footer__inner
{
  height: 105px;
  position: relative;
  margin-top: -130px;
}
